body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    margin: 0;

}

.section1 {
    position: relative;
    height: 100vh;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* ฟิลเตอร์สีดำโปร่งแสง */
    z-index: 1;
}

.section1 video {
    position: absolute;
    
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 0;
    object-fit: cover;
}

.section1 header {
    position: relative;
    z-index: 2;
    color: white;
    margin-bottom: 2rem;
}

@keyframes textAura {
    0% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
                     0 0 10px rgba(255, 255, 255, 0.8),
                     0 0 15px rgba(255, 255, 255, 0.4),
                     0 0 20px rgba(255, 255, 255, 0.2);
    }
    50% {
        text-shadow: 0 0 15px rgba(255, 255, 255, 0.9),
                     0 0 25px rgba(255, 255, 255, 0.9),
                     0 0 35px rgba(255, 255, 255, 0.5),
                     0 0 45px rgba(255, 255, 255, 0.3);
    }
    100% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
                     0 0 10px rgba(255, 255, 255, 0.8),
                     0 0 15px rgba(255, 255, 255, 0.4),
                     0 0 20px rgba(255, 255, 255, 0.2);
    }
}

.section1 h1 {
    font-size: 3.0rem;
    margin: 0;
    color: #ffffff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
                 0 0 10px rgba(255, 255, 255, 0.8),
                 0 0 15px rgba(255, 255, 255, 0.4),
                 0 0 20px rgba(255, 255, 255, 0.2);
    animation: textAura 5s infinite ease-in-out;
    font-weight: bold;
    letter-spacing: 1px;
}

.section1 button {
    position: relative;
    z-index: 2;
    padding: 15px 30px;
    font-size: 1.2rem;
    background-color: #3f3c3c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.section1 button:hover {
    transform: scale(1.05);
    background-color: #9b2929;
}

@keyframes bounceAndFade {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(20px);
        opacity: 0.3;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.scroll-arrow {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 24px;
    z-index: 2;
    animation: bounceAndFade 2s infinite ease-in-out;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
